* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  background-color: #E1E1E3;
  font-family: Gilroy;
  margin-top: 1rem;
}

header nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 19rem;
}
header nav .logo {
  display: flex;
  align-items: center;
}
header nav .logo img {
  width: 2rem;
}
header nav .logo p {
  font-size: 1rem;
  margin-left: 0.5rem;
  font-weight: 800;
  font-family: "Countryside";
}
header nav .option {
  display: flex;
  gap: 2.5rem;
}
header nav .option a {
  text-decoration: none;
  color: #000;
  font-size: 1rem;
  text-shadow: 0.8px 0.8px 0px #000000;
}
header nav .search-bar {
  display: flex;
  align-items: center;
  gap: 2rem;
}
header nav .search-bar a {
  text-decoration: none;
  color: #000;
  font-size: 1rem;
  font-weight: 600;
}
header nav .search-bar button {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  background-color: #000;
  color: #fff;
  font-weight: 700;
}

main .page-1 {
  display: flex;
  height: 100vh;
  background-image: url(pngkey.com-mapamundi-png-2740178.png);
  background-repeat: no-repeat;
  background-position: right center;
  background-size: 75rem;
}
main .page-1 .left-side {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: 10rem 0 0 5rem;
  width: 40%;
}
main .page-1 .left-side h2 {
  font-size: 5rem;
  margin-bottom: 1rem;
  font-weight: 500;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
main .page-1 .left-side h2 span {
  color: #666666;
}
main .page-1 .left-side p {
  font-size: 1.5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
main .page-1 .left-side button {
  margin-top: 1rem;
  padding: 0.9rem 1rem;
  width: 10rem;
  font-size: 1rem;
  border-radius: 2rem;
  background-color: #666666;
  border: none;
  color: #fff;
}
main .page-1 .right-side {
  display: grid;
  max-width: 40%;
  margin: 5rem 0 5rem 10rem;
  gap: 4rem;
  grid-template-areas: ". . b b" "a a b b" "a a b b" "a a b b" "a a c c" "a a c c" ". . c c";
}
main .page-1 .right-side img {
  border-radius: 1rem;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}
main .page-1 .right-side .image-1 {
  grid-area: a;
  aspect-ratio: 4/5;
}
main .page-1 .right-side .image-2 {
  grid-area: b;
  aspect-ratio: 1/1;
}
main .page-1 .right-side .image-c {
  grid-area: c;
  aspect-ratio: 4/3;
}
main .page-2 {
  height: 100vh;
  margin: 2rem 8rem 0 8rem;
  padding-top: 3rem;
}
main .page-2 h1 {
  font-size: 3rem;
  margin-bottom: 2rem;
  font-weight: 500;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  letter-spacing: -0.1rem;
}
main .page-2 .destination {
  display: flex;
  align-items: center;
  gap: 4rem;
  margin-top: 1.5rem;
}
main .page-2 .destination a {
  text-decoration: none;
  color: #000;
  font-size: 1rem;
  font-weight: 400;
}
main .page-2 .destination a:nth-child(1) {
  font-weight: 600;
}
main .page-2 .destination .dropbtn {
  color: #666666;
  border: none;
  background-color: #E1E1E3;
  box-shadow: none;
  font-family: Gilroy;
  font-weight: 500;
  font-size: 1rem;
}
main .page-2 .destination .dropdown {
  position: relative;
  display: inline-block;
}
main .page-2 .destination .dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
main .page-2 .destination .dropdown-content a {
  color: rgb(89, 89, 89);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
main .page-2 .destination .dropdown-content a:hover {
  background-color: #ddd;
}
main .page-2 .destination .dropdown:hover .dropdown-content {
  display: block;
}
main .page-2 .destination .dropdown:hover .dropbtn {
  color: black;
}
main .page-2 .destination button {
  padding: 1rem 2rem;
  border: 1px solid black;
  border-radius: 2rem;
  box-shadow: 1px 1px 2px black;
  font-weight: 700;
}
main .page-2 .destination-2 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 2rem;
  margin-top: 1.5rem;
}
main .page-2 .destination-2 img {
  width: 100%;
  height: 450px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 1rem;
  margin-bottom: 0.8rem;
}
main .page-2 .destination-2 img:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease-in-out;
}
main .page-2 .destination-2 h1 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  font-weight: 500;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  letter-spacing: -0.1rem;
}
main .page-3 {
  height: 100vh;
  margin: 2rem 8rem 0 8rem;
  padding-top: 3rem;
}
main .page-3 .heading {
  display: flex;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  justify-content: space-between;
}
main .page-3 .heading h2 {
  font-size: 3rem;
  margin-bottom: 2rem;
  font-weight: 500;
  letter-spacing: -0.1rem;
}
main .page-3 .heading button {
  height: 3rem;
  text-align: center;
  padding: 1rem 2rem;
  border: 1px solid black;
  border-radius: 2rem;
  box-shadow: 1px 1px 2px black;
  font-weight: 700;
}
main .page-3 .stories {
  display: flex;
}
main .page-3 .stories .left-side {
  max-width: 50%;
  display: flex;
  flex-direction: column;
  gap: 1.3rem;
}
main .page-3 .stories .left-side img {
  width: 42rem;
  height: 25rem;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 1rem;
  background-color: #000;
}
main .page-3 .stories .left-side p {
  width: 89%;
  overflow-y: hidden;
}
main .page-3 .stories .left-side h4 {
  font-size: 1.3rem;
  font-weight: 600;
}
main .page-3 .stories .right-side {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
main .page-3 .stories .right-side .block-1 {
  display: flex;
  gap: 1.7rem;
}
main .page-3 .stories .right-side .block-1 img {
  min-width: 15rem;
  height: 12rem;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 1rem;
  background-color: #000;
}
main .page-3 .stories .right-side .block-1 .content {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
main .page-3 .stories .right-side .block-1 .content p {
  padding-top: 0.4rem;
}
main .page-3 .stories .right-side .block-1 .content p:nth-child(3) {
  color: red;
}
main .page-3 .stories .right-side .block-1 .content h4 {
  font-size: 1.3rem;
  font-weight: 600;
}/*# sourceMappingURL=style.css.map */